<main>
    <div class="flex gap-14">
        <div class="flex-[5] flex flex-col gap-7">
            <img class="w-full h-80 object-cover" src="../../../assets/phone-bg.jpg" alt="">
            <div class="flex items-center gap-2.5 text-sm">
                <img class="w-12 h-12 rounded-full object-cover ml-2" [src]="post?.author?.avatar" alt="">
                <div class="info">
                    <span class="font-bold"> {{post?.author?.username}} </span>
                    <p> {{post?.createdAt | timeSince }} </p>
                </div>
                <div class="flex gap-1.5" *ngIf="post?.author?.id === currentUser?.id">
                    <a 
                        [routerLink]="['/create']"
                        [queryParams]="{ edit: true }"
                        routerLinkActive="router-link-active"
                    >
                        <ng-icon name="heroPencilSquare" color="blue" size="20">
                        
                        </ng-icon>
                    </a>

                    <!-- delete button -->
                    <ng-icon class="cursor-pointer" name="heroTrash" color="red" size="20">

                    </ng-icon>
                </div>
            </div>
            <h1 class="text-[#333] text-4xl font-serif font-bold pl-1.5">
                {{ post?.title }}
            </h1>
            <p class="text-justify leading-7 pl-1.5">
                {{ post?.content }}
            </p>
        </div>
        <div class="flex-[2]">
            <app-post-menu class=" flex flex-col gap-6" [post]="post"></app-post-menu>
        </div>
    </div>
</main>