
<div class="flex gap-5 mt-5">
    <div class="flex-[5]">
        content
    </div>
    <div class="flex-[2] flex flex-col gap-5">
        <div class="item">
            <h1 class="capitalize">publish</h1>
            <span>
                <b>Status: </b> Draft
            </span>
            <input type="file" id="file" class="hidden" />
            <label for="file">Upload Image</label>

            <div class="">
                <button>

                </button>
                <button>
                    
                </button>
            </div>
        </div>
    </div>
</div>