<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="pt-16 pb-12 md:pt-24 md:pb-20">
      <div class="text-center">
        <h1
          class="text-4xl md:text-6xl font-display font-bold leading-tighter tracking-tighter mb-4 text-text-light dark:text-text-dark"
        >
          Exploring Ideas That Shape Our World.
        </h1>
        <div class="max-w-3xl mx-auto">
          <p
            class="text-lg text-text-muted-light dark:text-text-muted-dark mb-8"
          >
            A collection of thoughts, stories, and analyses on technology,
            culture, and the human condition. Join us in the pursuit of
            knowledge.
          </p>
          <div class="flex justify-center">
            <button z-button zSize="lg">Start Reading</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
