<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="space-y-4 max-w-md">
  @if (mode === 'signUp') {
  <z-form-field>
    <label z-form-label for="avatar">Avatar (Optional)</label>
    <z-form-control>
      <input z-input id="avatar" type="file" formControlName="avatar" />
    </z-form-control>
  </z-form-field>
  }

  <z-form-field>
    <label z-form-label zRequired for="username">Username</label>
    <z-form-control [errorMessage]="getUsernameError()">
      <input z-input id="username" type="text" formControlName="username" placeholder="Enter your username" />
    </z-form-control>
  </z-form-field>

  <z-form-field>
    <label z-form-label zRequired for="password">Password</label>
    <z-form-control [errorMessage]="getPasswordError()">
      <div class="relative flex items-center">
        <input
          z-input
          id="password"
          [type]="passwordVisible() ? 'text' : 'password'"
          formControlName="password"
          placeholder="8+ characters"
          class="pr-10"
        />
        <z-icon
          [zType]="passwordVisible() ? 'eyeOff' : 'eye'"
          zSize="xl"
          (click)="togglePasswordVisibility()"
          class="absolute right-3 cursor-pointer text-muted-foreground top-0 bottom-0"
        />
      </div>
    </z-form-control>
  </z-form-field>

  @if (mode === 'signUp') {
  <z-form-field>
    <label z-form-label zRequired for="confirmPassword">Confirm Password</label>
    <z-form-control [errorMessage]="getConfirmPasswordError()">
      <input
        z-input
        id="confirmPassword"
        [type]="passwordVisible() ? 'text' : 'password'"
        formControlName="confirmPassword"
        placeholder="Confirm your password"
      />
    </z-form-control>
  </z-form-field>
  }

  <button z-button type="submit" class="w-full h-14 mt-3" [zLoading]="isSubmitting()" [disabled]="isSubmitting()">
    {{ submitButtonText }}
  </button>
</form>
