<main>
    <section class="mt-12 flex flex-col gap-40 mx-7">
        <div class="posts">
            <div *ngFor="let post of posts; index as index" class="flex">
                <div class="flex-2">
                    <img src="{{post.img}}" alt="Blog post image" class="w-full object-cover max-h-96" />
                </div>
                <div class="flex-[3]">
                    <a [routerLink]="['post', post.id]" class="no-underline">
                        <h2>{{post.title}}</h2>
                        
                    </a>
                    <p>{{post.description}}</p>
                    <button> Read more... </button>
                </div>
            </div>
        </div>
    </section>
</main>