
<header>
    <div class="py-2.5 px-0 flex justify-between items-center">
        <div class="logo">
            <img src="../../../assets/logo.png" alt="logo" class="w-28">
        </div>
        <ul class="list-none flex gap-2.5 items-center w-[44rem] justify-between">
            <li>
                <a [routerLink]="['']" [queryParams]="{category: 'technology'}" class="no-underline">
                    <h5 class="uppercase text-base font-light"> technology </h5>
                </a>
            </li>
            <li>
                <a [routerLink]="['']" [queryParams]="{category: 'cuisine'}" class="no-underline">
                    <h5 class="uppercase text-base font-light"> cuisine </h5>
                </a>
            </li>
            <li>
                <a [routerLink]="['']" [queryParams]="{category: 'fashion'}" class="no-underline">
                    <h5 class="uppercase text-base font-light"> fashion </h5>
                </a>
            </li>
            <li>
                <a [routerLink]="['']" [queryParams]="{category: 'diy'}" class="no-underline">
                    <h5 class="uppercase text-base font-light"> diy </h5>
                </a>
            </li>
            <li>
                <a [routerLink]="['']" [queryParams]="{category: 'lifestyle'}" class="no-underline">
                    <h5 class="uppercase text-base font-light"> lifestyle </h5>
                </a>
            </li>
            <li>
                <a [routerLink]="['']" [queryParams]="{category: 'travel'}" class="no-underline">
                    <h5 class="uppercase text-base font-light"> travel </h5>
                </a>
            </li>
            <li>
                <a [routerLink]="['']" [queryParams]="{category: 'cinema'}" class="no-underline">
                    <h5 class="uppercase text-base font-light"> cinema </h5>
                </a>
            </li>
            <li class="">
                <button class="peer flex items-center text-sm font-medium text-gray-900 rounded-full hover:text-blue-600 dark:hover:text-blue-500 md:mr-0 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-white " type="button">
                    <span class="sr-only">Open user menu</span>
                    <img class="w-8 h-8 mr-2 rounded-full" src="https://api.dicebear.com/5.x/avataaars/svg?flip=false" alt="user photo">
                    Louis Stewart
                    <svg class="w-4 h-4 mx-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>

                <div class="peer-active:block peer-hover:block z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                      <div>Louis Stewart</div>
                      <div class="font-medium truncate">louis_anna@ekereborikiri.io</div>
                    </div>
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                      <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                      </li>
                    </ul>
                    <div class="py-2">
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>