<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
      <div
        class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
      </div>
      <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
        <div class="max-w-md mx-auto">
          <div>
            <h1 class="text-2xl font-semibold capitalize">sign up</h1>
          </div>
          <form class="divide-y divide-gray-200" [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)" >
            <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
              <div class="relative mt-3">
                <input 
                    auto-complete="off" 
                    formControlName="username" 
                    type="text"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-rose-600" 
                    placeholder="username"
                    
                />
                <label 
                    for="username" 
                    class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm capitalize"
                >
                    username
                </label>
                <div class="text-red-600 my-1 text-sm" *ngIf="signupForm.get('username')?.invalid && (signupForm.get('username')?.dirty || signupForm.get('username')?.touched)">
                    Username must be at least 3 characters long.
                </div>
              </div>
              <div class="relative mt-3">
                <input 
                  auto-complete="off" 
                  formControlName="email" 
                  type="text"
                  class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-rose-600" 
                  placeholder="Email address"
                  
                />
                <label 
                  for="email" 
                  class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm"
                >
                  Email Address
                </label>
                <div class="text-red-600 my-1 text-sm" *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty)">
                  Please provide a valid email address.
                </div>
              </div>
              <div class="relative mt-3">
                <input 
                  formControlName="password" 
                  type="password" 
                  class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-rose-600" 
                  placeholder="Password"
                />
                <label for="password" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Password</label>
                <div class="text-red-600 my-1 text-sm" *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)">
                  Passwords must have at least 8 characters.
                </div>
              </div>

              <div class="relative mt-3">
                <input 
                  formControlName="confirmPassword" 
                  type="password" 
                  class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-rose-600" 
                  placeholder="confirmPassword"
                />
                <label for="confirmPassword" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Confirm Password</label>
                <div class="text-red-600 my-1 text-sm" *ngIf="signupForm.get('confirmPassword')?.invalid && (signupForm.get('confirmPassword')?.dirty && signupForm.get('confirmPassword')?.touched)">
                  Passwords must have at least 8 characters.
                </div>
                <div class="text-red-600 my-1 text-sm" *ngIf="(signupForm.get('confirmPassword')?.dirty && signupForm.get('confirmPassword')?.touched) && signupForm.errors?.['match_error']">
                  Password and Confirm Password must match!
                </div>
              </div>

              <div class="relative mt-3">
                <p class="font-mono text-zinc-900/40 text-sm font-normal block mb-1.5">Pick an avatar:</p>
                <div class="flex flex-wrap gap-2">
                  <div class="relative cursor-pointer" *ngFor="let av of avatars">
                    <img [src]="av" alt="" class="rounded-full h-11 w-11 hover:opacity-40 hover:bg-slate-600 ease-in duration-150 transition-all" (click)="chooseAvatar($event)" [ngClass]="{'bg-slate-300 opacity-20': av === selectedAvatar}">
                    <div class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 text-center" *ngIf="av === selectedAvatar">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>                    
                    </div>
                  </div>
                </div>
                <div class="flex place-content-center mt-3 cursor-pointer" (click)="refreshAvatars()">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                  </svg>
                </div>
              </div>

              <div class="relative">
                <button 
                  class="py-3 px-5 mr-2 text-sm font-medium bg-blue-500 rounded-lg border border-blue-500 hover:bg-gray-100 hover:text-blue-700 text-white/80 focus:z-10 focus:ring-2 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center outline-none"
                  type="submit"
                  [disabled]="!signupForm.valid || isSubmitting"
                >
                  <span *ngIf="!isSubmitting;else loading" class="leading-3 text-lg">Submit</span>
                  <ng-template #loading>
                    <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
                    </svg>
                    <span class="leading-3 text-base">Loading...</span>
                  </ng-template>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="fixed top-0 left-0 z-[1055] h-full w-full overflow-y-auto overflow-x-hidden outline-none transition-all duration-300 ease-in"
    [ngClass]="displayModal ? 'visible opacity-100' : 'invisible opacity-0'"
    aria-labelledby="exampleModalCenterTitle"
    aria-modal="true"
    role="dialog"
  >
  <div
    class="pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]"
    [ngClass]="displayModal ? 'opacity-100' : ' opacity-0'"  
  >
    <div
      class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
      <div
        class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
        <h5
          class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200 font-mono"
        >
          Error!
        </h5>
        <button
          type="button"
          class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
          aria-label="Close"
          (click)="closeModal()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="relative p-4">
        <div *ngIf="requestErrors">
          <div *ngFor="let item of requestErrors">
            <h6 class="w-full text-center my-2 text-lg font-mono font-bold"> {{ item.extensions.response.error }} </h6>
            <div class="font-mono my-2" *ngFor="let err of item.extensions.response.message">
              > {{err}}
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
        <button
          type="button"
          class="inline-block rounded bg-primary-100 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-[#285192] transition duration-150 ease-in-out hover:bg-[#e3ebf7] focus:bg-slate-500 focus:outline-none focus:ring-0 active:bg-[#c3cddb]"
          (click)="closeModal()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>