@if (post) {
  <div class="article-page">
    <div class="banner">
      <div class="container">
        <h1>{{ post.title }}</h1>

        <app-article-meta [post]="post">
          @if (canModify) {
            <span>
              <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/editor', post.slug]">
                <i class="ion-edit"></i> Edit Article
              </a>

              <button
                class="btn btn-sm btn-outline-danger"
                [ngClass]="{ disabled: isDeleting }"
                (click)="deleteArticle()"
              >
                <i class="ion-trash-a"></i> Delete Article
              </button>
            </span>
          } @else {
            <span>
              <app-follow-button [profile]="post.author" />

              <app-favorite-button [post]="post" (toggle)="onToggleFavorite($event)">
                Like Article
                <span class="counter">({{ post.likeCount }})</span>
              </app-favorite-button>
            </span>
          }
        </app-article-meta>
      </div>
    </div>

    <div class="container page">
      <div class="row article-content">
        <div class="col-md-12">
          <div [innerHTML]="post.content | markdown | async"></div>

          <ul class="tag-list">
            @for (tag of post.tags; track tag.id) {
              <li class="tag-default tag-pill tag-outline">
                {{ tag.name }}
              </li>
            }
          </ul>
        </div>
      </div>

      <hr />

      <div class="article-actions">
        <app-article-meta [post]="post">
          @if (canModify) {
            <span>
              <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/editor', post.slug]">
                <i class="ion-edit"></i> Edit Article
              </a>

              <button
                class="btn btn-sm btn-outline-danger"
                [ngClass]="{ disabled: isDeleting }"
                (click)="deleteArticle()"
              >
                <i class="ion-trash-a"></i> Delete Article
              </button>
            </span>
          } @else {
            <span>
              <app-follow-button [profile]="post.author" />

              <app-favorite-button [post]="post" (toggle)="onToggleFavorite($event)">
                Like Article
                <span class="counter">({{ post.likeCount }})</span>
              </app-favorite-button>
            </span>
          }
        </app-article-meta>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
          <div *ifAuthenticated="true">
            <app-list-errors [errors]="commentFormErrors" />
            <form class="card comment-form" (ngSubmit)="addComment()">
              <fieldset [disabled]="isSubmitting">
                <div class="card-block">
                  <textarea
                    class="form-control"
                    placeholder="Write a comment..."
                    rows="3"
                    [formControl]="commentControl"
                  ></textarea>
                </div>
                <div class="card-footer">
                  <button class="btn btn-sm btn-primary" type="submit">Post Comment</button>
                </div>
              </fieldset>
            </form>
          </div>

          <div *ifAuthenticated="false">
            <a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on
            this article.
          </div>

          @for (comment of comments; track comment.id) {
            <app-article-comment [comment]="comment" (delete)="deleteComment(comment)" />
          }
        </div>
      </div>
    </div>
  </div>
}
